# Python cache / temp
__pycache__/
*.pyc
*.pyo
*.pyd
*.tmp

# Virtual environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Snakemake
.snakemake/
*.log

# Data (raw input)
data/

# Results (pipeline outputs)
results/

# Large binary outputs
*.npy

# OS
.DS_Store

# Editor
*.swp
*.swo
